.searchBar{
    width: 28rem!important;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none!important;
    background-color: rgb(236 28 36)!important;
}

.carousel-custom-height{
    height: 400px;
}

#owlCarousel-1 .item{
    height: 350px;
}

.owlCarouselImgDiv{
    height: 65%;
}

.weatherCustomDiv{
    height: 275px!important;
    width: 250px!important;
}

#owlCarousel-2 .item{
    height: 350px;
}

#owlCarousel-3 .item{
    height: 350px;
}

#owlCarousel-4 .item{
    height: 350px;
}

.item:hover{
    transform: scale(1.05);
}

.offersColDiv{
    height: 250px;
}

.offersColDiv:hover{
    transform: scale(1.05);
}